<module type="6hp">

  <!-- switches -->
  <hole x="0.00" y="1.50" radius="3.5"/>

  <!-- pots -->
  <pot x="0.00" y="0.25"/>

  <!-- jacks -->
  <hole x="-0.25" y="-1.25" radius="3.25"/> <!-- trigger in -->
  <hole x="-0.25" y="-1.75" radius="3.25"/>  <!-- sine out -->
  <hole x="0.25" y="-1.25" radius="3.25"/> <!-- pulse out -->
  <hole x="0.25" y="-1.75" radius="3.25"/>  <!-- tri out -->

</module>
