<module type="20hp">

  <!-- pots -->
  <pot x="-1.5" y="1.5"/>
  <pot x="-0.5" y="1.5"/>
  <pot x="0.5" y="1.5"/>
  <pot x="1.5" y="1.5"/>
  <pot x="-1.5" y="0.5"/>
  <pot x="-0.5" y="0.5"/>
  <pot x="0.5" y="0.5"/>
  <pot x="1.5" y="0.5"/>
  <!-- <pot x="-0.5" y="0.0"/> -->
  <!-- <pot x="0.5" y="0.0"/> -->

  <!-- led/switch -->
  <hole x="0.0" y="-0.25" radius="2.5"/>

  <!-- jacks -->
  <!-- <hole x="-1.5" y="-1.25" radius="3.25"/> -->
  <!-- <hole x="-1.0" y="-1.25" radius="3.25"/> -->
  <!-- <hole x="-0.5" y="-1.25" radius="3.25"/> -->
  <!-- <hole x="0.0" y="-1.25" radius="3.25"/> -->
  <!-- <hole x="0.5" y="-1.25" radius="3.25"/> -->
  <!-- <hole x="1.0" y="-1.25" radius="3.25"/> -->
  <!-- <hole x="1.5" y="-1.25" radius="3.25"/> -->

  <rect x="0.0" y="-0.6750" width="12" height="11"/>

  <hole x="-1.6" y="-1.2" radius="3.25"/>

  <hole x="-0.75" y="-1.2" radius="3.25"/>
  <hole x="-0.25" y="-1.2" radius="3.25"/>
  <hole x="0.25" y="-1.2" radius="3.25"/>
  <hole x="0.75" y="-1.2" radius="3.25"/>

  <hole x="1.6" y="-1.2" radius="3.25"/>

  <hole x="-1.6" y="-1.7" radius="3.25"/>
  <hole x="-0.5" y="-1.7" radius="3.25"/>
  <hole x="0.0" y="-1.7" radius="3.25"/>
  <hole x="0.5" y="-1.7" radius="3.25"/>
  <hole x="1.6" y="-1.7" radius="3.25"/>

</module>
