<module type="10hp">

  <!-- pots -->
  <hole x="-0.5" y="0.75" radius="4.5"/>
  <hole x="0.5" y="0.75" radius="4.5"/>
  <hole x="-0.5" y="1.50" radius="4.5"/>
  <hole x="0.5" y="1.50" radius="4.5"/>

  <!-- leds -->
  <hole x="0.0" y="0.25" radius="1.5"/>
  <hole x="-0.5" y="-0.25" radius="1.5"/>
  <hole x="0.5" y="-0.25" radius="1.5"/>

  <!-- switches -->
  <hole x="0.0" y="-0.25" radius="3.0"/>

  <!-- jacks -->
  <hole x="-0.5" y="-0.75" radius="3.0"/>
  <hole x="0.5" y="-0.75" radius="3.0"/>
  <hole x="-0.5" y="-1.25" radius="3.0"/>
  <hole x="0.0" y="-1.25" radius="3.0"/>
  <hole x="0.5" y="-1.25" radius="3.0"/>
  <hole x="-0.5" y="-1.75" radius="3.0"/>
  <hole x="0.0" y="-1.75" radius="3.0"/>
  <hole x="0.5" y="-1.75" radius="3.0"/>

</module>
