<module type="6hp">

  <!-- pots -->
  <hole x="0" y="1.85" radius="4.00"/>

  <!-- jacks -->
  <hole x="-0.25" y="1.25" radius="3.8"/>
  <hole x="-0.25" y="0.75" radius="3.8"/>
  <hole x="-0.25" y="0.25" radius="3.8"/>
  <hole x="-0.25" y="-0.25" radius="3.8"/>
  <hole x="-0.25" y="-0.75" radius="3.8"/>
  <hole x="-0.25" y="-1.25" radius="3.8"/>
  <hole x="-0.25" y="-1.75" radius="3.25"/>

  <hole x="0.25" y="1.25" radius="3.25"/>
  <hole x="0.25" y="0.75" radius="3.25"/>
  <hole x="0.25" y="0.25" radius="3.25"/>
  <hole x="0.25" y="-0.25" radius="3.25"/>
  <hole x="0.25" y="-0.75" radius="3.25"/>
  <hole x="0.25" y="-1.25" radius="3.25"/>
  <hole x="0.25" y="-1.75" radius="3.8"/>

  <!-- LED -->
  <hole x="0" y="1.10" radius="1.5"/>
  <hole x="0" y="0.60" radius="1.5"/>
  <hole x="0" y="0.10" radius="1.5"/>
  <hole x="0" y="-0.40" radius="1.5"/>
  <hole x="0" y="-0.90" radius="1.5"/>
  <hole x="0" y="-1.40" radius="1.5"/>
  <hole x="0" y="-1.90" radius="1.5"/>

</module>
